 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="icon" href="../images/carbay_logo.png">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/navBar.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/selectCarDropDown.css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap">

    {% block scripts %}
    {% endblock %}
    
    <title>carbay</title>
  </head>
  <body>
      {% include 'navBar.twig' %}

      <main class="has-background-black-bis">
        {% block body %}
        {% endblock %}
      </main>

      {% include 'footer.twig' %}
      </div>
  </body>
</html>

