<div class="card has-background-black-ter has-text-white-ter car-card">
  <div class="card-image">
    <figure class="image is-5by4">
      <img class="card-image" src={{ c.src }}>
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
        <p class="subtitle is-5 has-text-white-ter">{{ c.title }}</p>
    </div>

    <div class="content">
      <p class="has-text-centered">{{ c.description }}</p>
    </div>
  </div>
</div>