<footer class="footer is-black has-background-black-ter has-text-white-ter">
  <div class="container is-max-desktop">
    <div class="section is-small">
      <div class="has-text-white-ter">
          <p class="subtitle is-4 has-text-white-ter mt-6 mb-6">A propos</p>
          <p class="has-text-centered"> Ce site est concu avec l'intention de proposer un service de location de voitures électriques. Dans nos différents centres, vous trouverez un lot de voitures flambant neuves et disponibles que vous pourrez louer avec des tarifs raisonnables. Avec un total de quatres centres couvrant chacun une région différente, vous pourrez explorer le Quebec comme il vous plaira. Au plaisir de vous servir !</p>
      <div>

      <div class="has-text-white-ter">
          <p class="subtitle is-4 has-text-white-ter mt-6 mb-6">Qui est derrière CarBay</p>
          <p class="has-text-centered"> Projet concu par Hadjeres Amar, Havekes Mathias, El Koutbi Taha.</p>
      </div>
    <div>
  <div>
</footer>