{% extends "base.twig" %}

{% block body %}
  <div class="home-page container is-fullhd">
    <div class="titles section is-small">
      <p class="has-text-white-bis title is-1">Venez découvrir le Quebec avec CarBay</p>
      <p class="has-text-white-bis title is-3">Des centaines de destinations vous attendes !</p>
    </div>

    <div class="travel-viewer section is-medium">
      {% for d in destinations %}
        {% include "travelCard.twig" %}
      {% endfor %}
    </div>

    <div class="titles section is-small">
      <p class="has-text-white-bis title is-1">Des dixaines de voitures disponibles</p>
      <p class="has-text-white-bis title is-3">Sauvez la planète en optant pour des modèles électriques ou hybrides !</p>
    </div>

    <div class="car-viewer section is-medium">
      {% for c in cars %}
        {% include "carCard.twig" %}
      {% endfor %}
    </div>

  </div>
{% endblock %}
