<div class="box container has-background-black-ter has-text-white-ter centered">
  <p class="subtitle is-4 has-text-white-ter mt-6 mb-6">Se connecter</p>
  <form action="/logIn/submit" method="post">
    <div class="field">
      <label class="label has-text-white-ter">Adresse mail</label>
      <p class="control has-icons-left has-icons-right">
        <input  class="input" type="email" name="email" Placeholder="e.g. example@.com">       
          <span class="icon is-small is-left">
            <i class="material-icons-round">mail</i>
          </span>
        </p>
    </div>

    <div class="field">
      <label class="label has-text-white-ter">Mot de passe</label>
      <p class="control has-icons-left">
        <input class="input" type="password" name="password" Placeholder="********">
          <span class="icon is-small is-left">
            <i class="material-icons-round">lock</i>
          </span>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <button class="button has-background-white-ter has-text-black-ter mt-6 mb-6" type="submit">
          Se connecter
        </button>
      </p>
    </div>
  </form>
</div>