{% extends 'base.twig' %}

{% block body %}
	<div class="container is-fullhd">
		<form method="post" action="/rent/car/submit">
			<section class="section is-medium">
				{% include "selectDatesForm.twig" %}
			</section>
			
			<section class="section is-medium">
				{% include "selectLocationsForm.twig" %}
			</section>

			<section class="section is-medium">
				<div class="box container has-background-black-ter has-text-white-ter centered">
					<p class="subtitle is-4 has-text-white-ter mt-6 mb-6">Terminez vos choix</p>
				  <div class="field centered">
        		<label class="label has-text-white-ter mt-2">Sélectionnez la voiture de votre choix</label>
        		{% include "selectCarDropDown.twig" %}
      		</div>

					<button class="button has-background-white-ter has-text-black-ter mt-6 mb-6 submit" type="submit">Louer</button>
				</div>
			</section>
		</form>
	</div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script defer>
		function addLocationMarkers(map) {
			{% for l in locations %}
				new google.maps.Marker({
					position: { lat: {{ l.lat }}, lng: {{ l.lng }} },
					map,
					title: "{{ l.name }}",
				});
			{% endfor %}
		}
  </script>
  <script src="/javascripts/googleMaps.js" defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQVDCdgEViZOxhoRuLm99Bw-vsmu3isrU&callback=initMap" defer></script>
  <script src="/javascripts/rentCar.js" defer></script>
{% endblock %}
