<div class="box container has-background-black-ter has-text-white-ter">
  <p class="subtitle is-4 has-text-white-ter mt-6 mb-6">Choisissez les centres qui vous conviennent</p>

  <div class="columns">
    <div class="column">
      <div class="field centered">
        <label class="label has-text-white-ter mt-2">Sélectionnez le centre de récupération du véhicule</label>
        {% include "selectLocationDropDown.twig" with {'name': 'startLocation'} %}
      </div>
    </div>
    
    <div class="column">
      <div class="field centered">
        <label class="label has-text-white-ter mt-2">Sélectionnez le centre de remise du véhicule</label>
        {% include "selectLocationDropDown.twig" with {'name': 'endLocation'} %}
      </div>
    </div>
  </div>

  <div id="googleMap" style="width:100%;height:500px;"></div>
</div>