<div class="box container has-background-black-ter has-text-white-ter">
  <p class="subtitle is-4 has-text-white-ter mt-6 mb-6">Enregistrez la durée de votre location</p>
  <div class="columns">
    <div class="column">
      <div class="field centered">
        <label class="label has-text-white-ter mt-2">Sélectionnez la date du début de la location</label>
        <input type="date" name="startDate" class="input is-normal calendar mt-4 mb-6 min-size">
      </div>
    </div>

    <div class="column centered">
      <div class="field">
        <label class="label has-text-white-ter mt-2">Sélectionnez la date de fin de la location</label>
        <input type="date" name="endDate" class="input is-normal calendar mt-4 mb-6 min-size">
      </div>
    </div>
  </div>
</div>