<div class="box container has-background-black-ter has-text-white-ter">
  <p class="subtitle is-4 has-text-white-ter mt-6 mb-6">Vous n'avez pas encore de compte ?</p>

  <div class="field has-text-white-ter centered">
    <label class="label has-text-white-ter">Cliquez ici pour vous enregistrer</label>
    <a class="button has-background-white-ter has-text-black-ter mt-4 mb-6" href="/signUp">S'enregistrer</a>
  </div>
</div>