<div class="box container has-background-black-ter has-text-white-ter centered">
	<p class="subtitle is-4 has-text-white-ter mt-6 mb-6">Création de compte</p>
	<form action="/signup/submit" method="post">
	
		<div class="field has-text-white-ter">
			<label class="label has-text-white-ter">Prénom</label>
			<p class="control has-icons-left">
				<input class="input" type="text" name="surname" placeholder="Jean" required>
				<span class="icon is-small is-left">
					<i class="material-icons-round">face</i>
				</span>
			</p>
		</div>

		<div class="field">
			<label class="label has-text-white-ter">Nom</label>
			<p class="control has-icons-left">
				<input class="input" type="text" name="name" placeholder="Dujardin" required>
				<span class="icon is-small is-left">
					<i class="material-icons-round">face</i>
				</span>
			</p>
		</div>

		<div class="field">
			<label class="label has-text-white-ter">Numéro de téléphone</label>
			<p class="control has-icons-left">
				<input class="input" type="tel" name="phone" placeholder="e.g. 438 526 xxxx" required>
				<span class="icon is-small is-left">
					<i class="material-icons-round">phone</i>
				</span>
			</p>
		</div>

		<div class="field">
			<label class="label has-text-white-ter">Adresse mail</label>
			<p class="control has-icons-left">
				<input class="input" type="email" name="email" placeholder="e.g. exemple@.com" required>
				<i class="fas fa-envelope"></i>
				<span class="icon is-small is-left">
					<span class="material-icons-round">mail</span>
				</span>
			</p>
		</div>

		<div class="field">
			<label class="label has-text-white-ter">Mot de passe</label>
			<p class="control has-icons-left">
				<input class="input" type="password" name="password" placeholder="********" required>
				<span class="icon is-small is-left">
					<i class="material-icons-round">lock</i>
				</span>
			</p>
		</div>

		<div class="field">
			<label class="label has-text-white-ter">Confirmation du mot de passe</label>
			<p class="control has-icons-left">
				<input class="input" type="password" name="confirmedPassword" placeholder="********" required>
				<span class="icon is-small is-left">
					<i class="material-icons-round">lock</i>
				</span>
			</p>
		</div>

		<button class="button has-background-white-ter has-text-black-ter mt-6 mb-6" type="submit">
			S'enregistrer
		</button>
	</form>
</div>
