{% extends 'base.twig' %}

{% block body %}
  <div class="container is-max-desktop">
    <div class="section is-medium">
      {% include 'signUpForm.twig' %}
    </div>

    <div class="section is-small">
      {% include 'connectIfAccountExist.twig' %}
    </div>
  </div>
{% endblock %}