<div class="card has-background-black-ter has-text-white-ter">
  <div class="card-image">
    <figure class="image is-5by4">
      <img src={{ d.src }} alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
        <p class="subtitle is-5 has-text-white-ter">{{ d.title }}</p>
    </div>

    <div class="content has-text-centered">{{ d.description }}</div>
  </div>
</div>