@import url("colors.css");

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

@media (min-width: 768px) { 
    .travel-viewer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8vw, 1fr));
        column-gap: 2vw;
        row-gap: 2vw;
    }

    .car-viewer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8vw, 1fr));
        column-gap: 2vw;
        row-gap: 2vw;
    }
}